#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File B.cfg
#Date 22-11-2018 13:02:20
#///////////////////////////////////////////////////////

imfromB:
{
	return_string=dflt;#string
};

