#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File FirstClass
#Date 30-01-2019 11:47:29
#///////////////////////////////////////////////////////

FirstClass:
{
};

FirstClass_2:
{
	i_param=-42;#int
	s_param=randomString;#string
};

rareMethod:
{
	ui_param=-96;#unsigned_int
	a_param=0.374783;#float
	d_param=0.223416;#double
	return_int=96;#int
};

whoReturnsAChar:
{
	return_char=1;#char
};

allLists:
{
	l_param={38,-91,17,35,-98};#list<int>
	return_list<int>={26,-70,27,8,-79};#list<int>
};

allVector:
{
	v_param={-69,-3,97,-50,26};#vector<int>
	return_vector<int>={-59,99,98,-72,-98};#vector<int>
};

allMap:
{
	m_param={(51,91),(75,15),(59,24),(11,-89),(16,38)};#map<int, int>
	return_map<int, int>={(-85,-2),(-6,-10),(-62,27),(89,23),(-4,98)};#map<int, int>
};

iObtainAString:
{
	s_param=randomString;#string
	return_char=8;#char
};

