#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File FirstClass
#Date 04-12-2018 12:30:36
#///////////////////////////////////////////////////////

rareMethod:
{
	ui_param=14;#unsigned_int
	a_param=1.250168;#float
	d_param=0.530392;#double
	return_int=-25;#int
};

whoReturnsAChar:
{
	return_char=3;#char
};

iObtainAString:
{
	s_param=randomString;#string
	return_char=7;#char
};

