#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File BoostGenerator.cfg
#Date 22-11-2018 12:45:09
#///////////////////////////////////////////////////////

:
{
	=
More help text...;#class_BoostGenerator_&&
	return_class BoostGenerator &=
More help text...;#class BoostGenerator &
};

