#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File ASTUTGen.cfg
#Date 26-11-2018 10:10:41
#///////////////////////////////////////////////////////

deleteAllBeforeChar:
{
	sToReplace=dflt;#string
	cToFind=a;#char
	return_string=dflt;#string
};

