#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File A.cfg
#Date 22-11-2018 13:02:20
#///////////////////////////////////////////////////////

B:
{
	return_int=0;#int
};

C:
{
	par=0;#int
	return_int=0;#int
};

constFunction:
{
	return_const int=
More help text...;#const int
};

