#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File SecondClass
#Date 30-01-2019 11:52:58
#///////////////////////////////////////////////////////

testPointer1:
{
	a=0;#int_*
	return_int_*=0;#int_*
};

testPointer2:
{
	b=0;#int_*
	return_int_*=0;#int_*
};

testPointer3:
{
	c=0;#int_*
	return_int_*=0;#int_*
};

