#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File customType
#Date 04-12-2018 12:30:36
#///////////////////////////////////////////////////////

:
{
	=0;#struct_customType&
	return_struct_customType=0;#struct_customType
};

