#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File student.cfg
#Date 22-11-2018 12:47:15
#///////////////////////////////////////////////////////

outsideMethod:
{
	return_int=0;#int
};

