#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File Example2.cfg
#Date 22-11-2018 13:02:20
#///////////////////////////////////////////////////////

OutsideFunction:
{
	par=0;#int
	return_int=0;#int
};

