#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File FirstClass
#Date 04-12-2018 12:47:02
#///////////////////////////////////////////////////////

rareMethod:
{
	ui_param=33;#unsigned_int
	a_param=0.466541;#float
	d_param=0.557652;#double
	return_int=83;#int
};

whoReturnsAChar:
{
	return_char=8;#char
};

iObtainAString:
{
	s_param=randomString;#string
	return_char=9;#char
};

