#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File FirstClass
#Date 30-01-2019 11:52:57
#///////////////////////////////////////////////////////

FirstClass:
{
};

FirstClass_2:
{
	i_param=32;#int
	s_param=randomString;#string
};

rareMethod:
{
	ui_param=18;#unsigned_int
	a_param=0.514645;#float
	d_param=0.354177;#double
	return_int=93;#int
};

whoReturnsAChar:
{
	return_char=4;#char
};

allLists:
{
	l_param={-53,80,22,-55,-91};#list<int>
	return_list<int>={-88,56,30,-53,73};#list<int>
};

allVector:
{
	v_param={96,98,-68,-34,82};#vector<int>
	return_vector<int>={76,-48,-14,-26,-73};#vector<int>
};

allMap:
{
	m_param={(-1,47),(71,-6),(95,83),(-97,-37),(-32,-63)};#map<int, int>
	return_map<int, int>={(-47,57),(-73,9),(-89,-13),(52,45),(31,34)};#map<int, int>
};

iObtainAString:
{
	s_param=randomString;#string
	return_char=9;#char
};

