#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File FirstClass.cfg
#Date 21-11-2018 13:44:10
#///////////////////////////////////////////////////////

rareMethod:
{
	ui_param=0;#unsigned_int
	a_param=0.0;#float
	d_param=0.0;#double
	return_int=0;#int
};

whoReturnsAChar:
{
	return_char=a;#char
};

whoReturnsAChar2:
{
	return_char=a;#char
};

