#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File SecondClass.cfg
#Date 26-11-2018 12:30:02
#///////////////////////////////////////////////////////

testPointer1:
{
	a=
More help text...;#int_*
	return_int *=
More help text...;#int *
};

testPointer2:
{
	b=
More help text...;#int_*
	return_int *=
More help text...;#int *
};

testPointer3:
{
	c=
More help text...;#int_*
	return_int *=
More help text...;#int *
};

