#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File ASTUTCave.cfg
#Date 19-11-2018 13:12:16
#///////////////////////////////////////////////////////

outsideMethod:
{
	return_int=0
}

