#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File ASTUTCave
#Date 30-01-2019 11:47:29
#///////////////////////////////////////////////////////

conditionalMethod:
{
	return_int=72;#int
};

outsideMethod2:
{
	return_int=-2;#int
};

ctypetest:
{
	return_struct_customType=0;#struct_customType
};

