#///////////////////////////////////////////////////////
#////                                               ////
#//// AST-UT PROTOTYPE                              ////
#//// UNIVERSIDAD DE CADIZ - NAVANTIA SISTEMAS      ////
#////                                               ////
#///////////////////////////////////////////////////////
#File generated automatically by AST-UT.
#File ASTUTCave
#Date 04-12-2018 12:30:37
#///////////////////////////////////////////////////////

outsideMethod:
{
	return_int=-44;#int
};

outsideMethod2:
{
	return_int=88;#int
};

